
@charset "utf-8";
/* CSS Document */
body,p,form,ul,li,h1,h2,h3,h4,h5,h6{ margin:0; padding:0; font-family:'微软雅黑';}
ul,li{ list-style:none;}
a{ text-decoration:none; color:#06c;}
img{ border:0;}
.Crm_fl{ float:left;}
.Crm_fr{ float:right;}
.Crm_overflow{ overflow:hidden;zoom:1;}
.mt_10{ margin-top:10px;}
.ml_20{ margin-left:20px;}
.line_height{ line-height:22px;}
.pl_10{ padding-left:10px;}
.Bor_left{ border-left:1px solid #ccc;}
.Bor_right{ border-right:1px solid #ccc;}
.Bor_top{ border-top:1px solid #ccc;}
.Bor_bottom{ border-bottom:1px solid #ccc;}
.Bor_dash{ border-bottom:1px dashed #ccc;}
.bgcolor_pu{ background-color:#F7F7F7;}
.color_gray999{ color:#999;}
.color_blue06c{ color:#06c;}
/*----- pulic end -----*/
body{ margin:0 auto;}
.Crm_main{ width:772px; font-family:"Microsoft yahei"; font-size:12px;}
.Crm_title{ height:53px; padding-left:40px; color:#0067CA; font-size:16px; font-weight:800; line-height:53px; border:1px solid #D5D5D5; border-left:none; border-right:none; background:url(../images/accout_title_logo.gif) no-repeat left center #EDF4FC;}
.Crm_nav{ height:35px; background-color:#F0F0F0; color:#0067CB; overflow:hidden;zoom:1;}
.Crm_nav ul{ overflow:hidden;zoom:1; float:left; width:664px; padding:6px 0 0 33px;_padding-left:15px;}
.Crm_nav li{ float:left; margin-right:30px; height:22px; text-align:center; line-height:22px; _width:90px;_margin-right:0px;}
.Crm_nav li .bg_Crm_nav_con{ float:left; display:block; height:22px; line-height:22px; overflow:hidden;zoom:1; color:#06c; background-color:#FFF;}
.Crm_nav li .bg_Crm_nav_left{ display:block; height:22px; background:url(../images/bg_Crm_nav_left.gif) no-repeat left center;}
.Crm_nav li .bg_Crm_nav_right{ display:block; height:22px; background:url(../images/bg_Crm_nav_right.gif) no-repeat right center; padding:0 8px;}
.Crm_nav_yyset{ float:right; padding:10px 19px 0 0;}
.Crm_search{ overflow:hidden;zoom:1; margin:15px 0;}
.Crm_search_ip{ width:182px; height:23px; border:1px solid #ccc;}
.Crm_search_ip input{ width:150px; height:16px; line-height:16px; padding-left:5px; border:1px solid #fff;}
.Crm_search_ip a{ position:relative; top:2px; left:5px;}
.Crn_search_found{ height:23px; line-height:23px; padding-right:15px;}
.Crm_content{ padding-left:10px;}
.Crm_con_title{ border-bottom:1px solid #ccc; height:25px;}
/*----- left -----*/
.Crm_con_left{ width:374px; float:left;}
.Crm_con_leftbor{ border-left:1px solid #ccc;}
.Crm_conleft_title{ height:28px; padding:8px 0 0 16px;}
.Crm_conleft_title a{ display:block; float:left; width:60px; height:20px; line-height:20px; text-align:center;}
.Crm_conleft_title a:hover{ background:url(../images/accout_green_bg.gif) no-repeat center center; color:#fff;}
.Crm_conleft_option ul{ overflow:hidden;zoom:1; padding-left:6px; margin-bottom:7px;}
.Crm_conleft_option li{ float:left; margin-right:10px;}
.Crm_conleft_option a{ display:block; float:left; width:97px; height:26px; line-height:26px; color:#333; padding-left:5px; background:url(../images/bg_Crm_con_option.png) no-repeat center center;}
.Crm_underling_tab{ border-bottom:1px solid #ccc;}
.Crm_underling_tab td{ border-top:1px solid #ccc;}
.Crm_underling_tab .bor_Crm_un_right{ border-right:1px solid #ccc;}
.Crm_underling_tab span{ padding-left:5px; color:#999;}
.Crm_underling_tab a{ padding-left:5px;}
/*----- left -----*/
/*----- right -----*/
.Crm_con_sum_right{}
.Crm_con_right{ width:385px; float:left; border:1px solid #ccc;}
.Crm_conright_client{ height:31px; color:#ccc; font-size:14px; line-height:31px; text-align:right; padding-right:16px;}
.Crm_cr_delete_shift{ height:31px; line-height:31px;}
.Crm_cr_delete{ width:34px; padding-left:32px; background:url(../images/bg_Crm_cr_delete.gif) no-repeat 10px center;}
.Crm_cr_shift{ width:53px; padding-left:32px; background:url(../images/bg_Crm_cr_shift.gif) no-repeat 10px 7px;}
.Crm_cr_message{ clear:both; height:223px;}
.Crm_cr_message_one{ clear:both; height:203px;}
.Crm_cr_message_name{ padding:13px 0 0 12px; font-size:14px; font-weight:normal;}
.Crm_cr_message_name a{ margin-right:13px;}
.Crm_cr_message_tab{ margin:18px 0 0 35px;}
.Crm_cr_message_more{ padding:6px 12px 0 12px;}
.Crm_cr_remark_message{ height:87px; padding-top:17px;}
.Crm_cr_remark_tab{ width:366px; margin:0 auto;}
.btn_Crm_return img{ position:relative; left:10px; top:2px; margin-right:20px;}
.Crm_discuss_con{ margin:18px 0 30px 0; overflow:hidden;zoom:1;}
.Crm_discuss_con li{ float:left;}
.Crm_discuss_nr{ margin-bottom:7px; overflow:hidden;zoom:1;}
.Crm_discuss_nr a{ display:block; width:66px;_width:64px; height:22px; text-align:center; line-height:22px; border:1px solid #ccc; border-bottom:none; background-color:#EAEAEA; float:left; margin-left:5px;}
.Crm_discuss_nr a:hover,.Crm_discuss_nr .bg_Crmdis_hover{ background-color:#fff;}
.Crm_discuss_tab{ width:366px; margin:0 auto;}
.Crm_discuss_tab td{ height:25px; line-height:25px; border-bottom:1px solid #ccc;}
.Crm_share_content{ padding:10px 0 11px 9px;}
.Crm_share_toux{ width:24px; margin-right:7px;}
.Crm_share_text{ width:332px; height:32px; border:1px solid #ccc; font-size:12px; overflow:hidden;}
.btn_Crm_accessory{ display:block; line-height:30px; background:url(../images/icon_Crm_accessory.gif) no-repeat left center; font-weight:800; padding-left:19px; margin:0 0 10px 5px;}
.btn_Crm_share_send{ padding-right:10px;}
.Crm_usetx_padding span img{ padding:0 5px; position:relative; top:2px;}
/*----- right -----*/

/*leadto deal*/
.Crm_upload_box{ width:640px; margin:0 auto; border:1px solid #ccc;}
.Crm_upload_topdiv{ background-color:#EFEFEF; height:50px; border-bottom:1px solid #ccc;}
.Crm_upload_tl{ width:600px; float:left; font-size:16px; font-weight:500; color:#666; line-height:50px; padding-left:10px;}
.Crm_upload_tl a{ color:#06c; text-decoration:none; margin-right:5px;}
.Crm_upload_tx{ width:30px; float:left;}
.Crm_upload_tx a{ color:#06c; text-decoration:none; font-size:14px; font-weight:bold; display:block; width:20px; height:35px; padding-left:10px;}
.Crm_leadchange_tt{ height:40px; background-color:#EFEFEF; font-size:12px;}
.Crm_leadchange_tt a img{ position:relative; top:2px; padding:0 5px;}
.Crm_leadchange_tt a{ background-color:#EFEFEF; display:block; width:213px; height:30px; padding-top:10px; text-align:center; float:left; color:#333; text-decoration:none; border-bottom:1px solid #ccc;}
.Crm_leadchange_tt .a_one{ width:212px; background-color:#fff; border-bottom:none; border-right:1px solid #ccc;}
.Crm_leadchange_tt .a_two{ width:211px; background-color:#fff; border-bottom:none; border-left:1px solid #ccc;border-right:1px solid #ccc;}
.Crm_leadchange_tt .a_three{ width:212px; background-color:#fff; border-bottom:none;border-left:1px solid #ccc;}
.Crm_leadcon{ width:512px; margin:10px auto; font-size:12px;}
.Crm_leadcon_title{ line-height:45px; color:#999;}
.Crm_leadcon_title span{ color:#06c;}
.Crm_leadcon_table{}
.Crm_leadcon_table p{ color:#999;}
.Crm_leadcheck_tt{ clear:both; font-size:12px; color:#333;}
.Crm_leadcheck_tt span{ color:#FF0000; padding-left:10px;}
.Crm_leadbtn_div{ margin-top:25px; overflow:hidden;zoom:1;}
.Crm_leadbtn_div a{ display:block; margin-left:50px; float:left; width:170px; height:35px; background-color:#06c; color:#fff; text-align:center; line-height:35px; text-decoration:none;}
.Crm_leadend_jq{ clear:both; margin-top:25px; color:#333; overflow:hidden;zoom:1; text-align:center;}
.Crm_leadend_jq .Crm_jq{text-align:center; padding:0 10px; color:#fff; background:url(../images/accout_load_jqbg.gif) no-repeat center center; }
.Crm_lead_pinput input{ width:182px; height:20px; border:1px solid #ccc;}
.Crm_lead_pinput_one input{ width:439px; height:20px; border:1px solid #ccc;}
.Crm_lead_pinput_two{ margin-left:10px; display:inline; width:302px;}
.Crm_lead_pinput_two input{width:302px; height:20px; border:1px solid #ccc;}
.Crm_lead_pdown{ width:182px; height:23px; border:1px solid #ccc;}
.Crm_lead_pdown input{ width:150px; height:16px; line-height:16px; padding-left:5px; border:1px solid #fff;}
.Crm_lead_pdown a{ position:relative; top:2px; left:5px;}
.Crm_lead_linkdiv{ border:1px solid #ccc; width:511px; margin-top:10px;}
.Crm_lead_linkman{ line-height:25px; color:#999; overflow:hidden;zoom:1;}
.Crm_lead_linkman .Crm_lead_linkman_tt{ width:200px; float:left; padding-left:5px;}
.Crm_lead_linkman .Crm_lead_linkman_time{ width:145px; float:left;}
.Crm_lead_linkman .Crm_lead_linkman_ownby{ width:160px; float:left;}
.Crm_lead_linkman_ownby span{ position:relative; top:2px; padding:0 5px;}
